@import "../abstracts/mixins";
@import "../abstracts/variables";

.buy-now__button {
  @include text-styles("Montserrat", none, 700, 15px, 15px);
  background: #8d81ac;
  border: none;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  width: 119px;
  height: 37px;
  margin-top: 34px;
  @media (min-width: $tablet-bp) {
    margin-top: 24px;
    margin-right: 20px;
    width: 145px;
    height: 38px;
  }
  @media (min-width: $desktop-bp) {
    margin-top: 31px;
    margin-right: 75px;
    @include text-styles("Montserrat", none, 700, 16px, 17px);
    &:hover {
      color: $primary-color;
      background: #fff;
    }
  }
}

.download__button {
  @include text-styles("Montserrat", none, 700, 18px, 20px);
  border: none;
  border-radius: 40px;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  width: 290px;
  height: 45px;
  display: block;
  top: -22px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;

  @media (min-width: $tablet-bp) {
    @include text-styles("Montserrat", none, 700, 21px, 23px);
    width: 390px;
  }

  @media (min-width: $desktop-bp) {
    @include text-styles("Montserrat", none, 700, 16px, 17px);
    &:hover {
      color: $primary-color;
      background: #fff;
      border: 1px solid $primary-color;
    }
  }
}
