@import "../abstracts/mixins";
@import "../abstracts/variables";

.feedback__authors-list {
  @include list-style;
  display: grid;
  justify-content: center;
  align-items: baseline;
  grid-auto-rows: auto;
  margin: 0 auto;
  margin-bottom: 53px;

  @media (min-width: $tablet-bp) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-bp) {
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    margin-bottom: 118px;
  }
}

.feedback__author {
  @include flex(center, center, column);

  padding-top: 58px;
}

.feedback__author-text {
  @include text-styles("Lato", italic, 700, 16px, 24px);
  color: #fff;
  max-width: 270px;
  padding-top: 22px;
  margin: 0;
  align-self: baseline;
  text-align: center;
  @media (min-width: $tablet-bp) {
    max-width: 345px;
  }
  @media (min-width: $desktop-bp) {
    max-width: 345px;
  }
}
