@import "../abstracts/mixins";
@import "../abstracts/variables";

.header__container {
  background-color: #27262a;
  @media (min-width: $desktop-bp) {
    background: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  @media (min-width: $tablet-bp) {
    padding-bottom: 23px;
  }
  @media (min-width: $desktop-bp) {
    padding-bottom: 0;
  }
}

.logo-container {
  display: flex;
  margin-top: 32px;
  margin-left: 16px;

  @media (min-width: $tablet-bp) {
    margin-top: 22px;
    margin-left: 20px;
  }
  @media (min-width: $desktop-bp) {
    margin-top: 30px;
    margin-left: 70px;
  }
}

.logo__link {
  text-decoration: none;
  color: $primary-color;
}

.logo__img-hover {
  display: none;
}

.logo-text {
  margin: 0;
  display: inline;
}
.logo__text-link {
  @include text-styles("Montserrat", none, 700, 24px, 18px);
  margin: 0;
  color: $primary-color;
  text-transform: uppercase;
  margin-left: 17px;
  text-align: center;
  margin-top: 18px;
  @media (max-width: $tablet-bp) {
    display: none;
  }
  @media (min-width: $desktop-bp) {
    @include text-styles("Lato", none, 700, 24px, 16px);
    margin-left: 12px;
    color: $primary-color;
    &:hover {
      color: #fff;
    }
  }
}
