@import "../abstracts/mixins";
@import "../abstracts/variables";

.intro {
  background-image: url("/dist/img/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 416px;
  @media (min-width: $tablet-bp) {
    background-position: center;
    padding-bottom: 438px;
    background-image: scale(0.2);
  }

  @media (min-width: $desktop-bp) {
    background-position: bottom;
    padding-bottom: 460px;
  }

  .intro__title {
    @include text-styles("Montserrat", none, 700, 48px, 48px);
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 19px;
    z-index: 1;

    @media (min-width: $tablet-bp) {
      padding-top: 68px;
    }

    @media (min-width: $desktop-bp) {
      padding-top: 187px;
    }
  }

  .intro__subtitle {
    @include text-styles("Montserrat", none, 400, 18px, 24px);
    color: $primary-color;
    text-align: center;
    margin: 0 auto;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 14px;
  }

  .intro__description {
    @include text-styles("Montserrat", none, 400, 14px, 14px);
    text-align: center;
    color: $sub-text-color;
    display: block;
    text-align: center;
  }
}

.trial-container {
  position: relative;
  margin: 0 auto;
}

.intro__trial-description {
  @include text-styles("Montserrat", none, 400, 14px, 14px);
  display: block;
  text-align: center;
  color: $sub-text-color;
  padding-top: 34px;
}
