@import "../abstracts/mixins";

.list-of-btn {
  @include flex(center, center, row);
  flex-wrap: wrap;
  max-width: 270px;
  column-gap: 13px;
  @include list-style();
  row-gap: 20px;

  @media (min-width: $tablet-bp) {
    max-width: 390px;
  }
}

.list-of-btn__item {
  cursor: pointer;
  transition: 80ms;
}

.list-of-btn__link {
  @include flex(flex-start, center, row);
  text-align: center;
  width: 119px;
  border-radius: 5px;
  padding: 4px 5px 4px 12px;
  background-color: $list-of-btn-color-bg;

  &:hover {
    background-color: $list-of-btn-hover-bg;
    transform: scale(1.02);
  }
}

.list-of-btn__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $list-of-btn-color-text;
  margin: 0px 5px 0px 5px;
}

.list-of-btn__number {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  color: $list-of-btn-color-text;
  background-color: $list-of-btn-back-text;
  border-radius: 10px;
  padding: 0 6px;
}

.list-of-btn__icon {
  fill: $list-of-btn-color-text;
}
