@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-page__title {
  text-transform: uppercase;
  text-align: center;
  @include text-styles("Montserrat", normal, 700, 26px, 28px);
  color: $main-title-color;
  margin: 79px 0px 27px 0px;

  @media (min-width: $tablet-bp) {
    font-size: 42px;
    line-height: 42px;
    margin: 93px 0px 33px 0px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 54px;
    line-height: 54px;
    margin: 66px 0px 35px 0px;
  }
}

.main-page__subtitle {
  text-align: center;
  @include text-styles("Lato", normal, 400, 14px, 20px);
  padding: 0px 22px;
  margin-bottom: 36px;
  color: $main-text-color;

  @media (min-width: $tablet-bp) {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 24px;
    padding: 0px 40px;
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 13px;
    padding: 0px 259px;
  }
}

.main-page__list {
  margin: 0 auto;
  margin-bottom: 120px;
  @media (min-width: $tablet-bp) {
    margin-bottom: 159px;
  }
  @media (min-width: $desktop-bp) {
    margin-bottom: 70px;
  }
}
