@import "../abstracts/mixins";
@import "../abstracts/variables";

.sub-prices__btn {
  position: relative;
  text-transform: uppercase;
  @include text-styles("Montserrat", normal, 400, 15px, 15px);
  color: $text-color;
  padding: 15px 38px;
  margin-bottom: 67px;
  z-index: 1;

  &.active {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 41px;
    padding: 18px 48px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: $text-color;
    opacity: 0.15;
    border-radius: 30px;
  }
}
