@mixin flex($pos-x, $pos-y, $direction) {
  display: flex;
  justify-content: $pos-x;
  align-items: $pos-y;
  flex-direction: $direction;
}

@mixin text-styles($font, $fontSt, $fontW, $fontZ, $lineH) {
  font-family: $font;
  font-style: $fontSt;
  font-weight: $fontW;
  font-size: $fontZ;
  line-height: $lineH;
}

@mixin list-style {
  list-style: none;
  padding: 0;
}
