$tablet-bp: 481px;
$desktop-bp: 993px;

$primary-color: #8d81ac;
$primary-hover-color: #ffffff;

$main-title-color: #635c73;
$main-text-color: #323232;
$sub-text-color: #848e97;

$future-skills-bg-color: #f4f4f4;

$text-color: #ffffff;

$footer-sub-text: #a291a5;
$footer-sub-line: #645766;

$price-active: #463048;

$list-of-btn-color-bg: #21262d;
$list-of-btn-hover-bg: #414850;
$list-of-btn-color-text: #c9d1d9;
$list-of-btn-back-text: #30363d;
